In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

#from now, runs local jupeter notebook.....
import matplotlib.pyplot as plt
import json

loaded_data = json.load(open('channel_messages.json'))
df = pd.json_normalize(data=loaded_data)
df.head()

,_,id,date,message,out,mentioned,media_unread,silent,post,from_scheduled,...,action.photo.video_sizes,replies._,replies.replies,replies.replies_pts,replies.comments,replies.recent_repliers,replies.channel_id,replies.max_id,replies.read_max_id,action.title
0,Message,8734,2023-08-07T04:38:27+00:00,کـــود🔎\n0- K224\n\n🗺 زمين\n🏡 مزارشريف: سرک مح...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Message,8733,2023-08-07T04:38:24+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Message,8732,2023-08-05T09:30:12+00:00,کـــود🔎\n0- K223\n\n🗺 زمين\n🏡 مزارشريف: کارته ...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Message,8731,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Message,8730,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#import emoji package
import emoji
import re
text= '🤔 🙈 me así, bla es se 😌 ds 💕👭👙'
text_de= emoji.demojize(text)
print(text_de)

:thinking_face: :see-no-evil_monkey: me así, bla es se :relieved_face: ds :two_hearts::women_holding_hands::bikini:

In [3]:
#define emoji remover function to be used later
def remove_emoji(text):
    text=  emoji.demojize(text)
    text= re.sub(r'(:[!_\-\w]+:)', '', text)
    return text

text= '🤔 🙈 me así, bla es se 😌 ds 💕👭👙'
print(remove_emoji(text))

  me así, bla es se  ds

In [5]:
#apply the emoji remover function to remove the emoji from the message column of the df.
df.loc[:,'message'] = df.apply(lambda row : remove_emoji(str(row["message"])), axis = 1)
df.head()

,_,id,date,message,out,mentioned,media_unread,silent,post,from_scheduled,...,action.photo.video_sizes,replies._,replies.replies,replies.replies_pts,replies.comments,replies.recent_repliers,replies.channel_id,replies.max_id,replies.read_max_id,action.title
0,Message,8734,2023-08-07T04:38:27+00:00,کـــود\n0- K224\n\n زمين\n مزارشريف: سرک محکمه...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Message,8733,2023-08-07T04:38:24+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Message,8732,2023-08-05T09:30:12+00:00,کـــود\n0- K223\n\n زمين\n مزارشريف: کارته خرا...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Message,8731,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Message,8730,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8123 entries, 0 to 8122
Columns: 126 entries, _ to action.title
dtypes: bool(6), float64(49), int64(2), object(69)
memory usage: 7.5+ MB

In [7]:
df.describe()

,id,fwd_from,via_bot_id,reply_to,media,reply_markup,views,forwards,replies,grouped_id,...,reply_to.reply_to_peer_id,reply_to.reply_to_top_id,action.photo.id,action.photo.access_hash,action.photo.dc_id,replies.replies,replies.replies_pts,replies.channel_id,replies.max_id,replies.read_max_id
count,8123.000000,0.0,0.0,0.0,0.0,0.0,8109.000000,8109.000000,0.0,6.299000e+03,...,0.0,0.0,2.000000e+00,2.000000e+00,2.0,6.0,6.0,6.0,0.0,0.0
mean,4402.860150,NaN,NaN,NaN,NaN,NaN,2116.727587,0.989148,NaN,1.324106e+16,...,NaN,NaN,6.247839e+18,-3.315217e+18,5.0,0.0,0.0,777.0,NaN,NaN
std,2509.650717,NaN,NaN,NaN,NaN,NaN,1403.068884,1.566447,NaN,1.078550e+14,...,NaN,NaN,3.318695e+16,2.038009e+18,0.0,0.0,0.0,0.0,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,182.000000,0.000000,NaN,1.288447e+16,...,NaN,NaN,6.224372e+18,-4.756307e+18,5.0,0.0,0.0,777.0,NaN,NaN
25%,2229.500000,NaN,NaN,NaN,NaN,NaN,1425.000000,0.000000,NaN,1.314702e+16,...,NaN,NaN,6.236106e+18,-4.035762e+18,5.0,0.0,0.0,777.0,NaN,NaN
50%,4427.000000,NaN,NaN,NaN,NaN,NaN,1721.000000,0.000000,NaN,1.324573e+16,...,NaN,NaN,6.247839e+18,-3.315217e+18,5.0,0.0,0.0,777.0,NaN,NaN
75%,6592.500000,NaN,NaN,NaN,NaN,NaN,2504.000000,1.000000,NaN,1.333106e+16,...,NaN,NaN,6.259572e+18,-2.594672e+18,5.0,0.0,0.0,777.0,NaN,NaN
max,8734.000000,NaN,NaN,NaN,NaN,NaN,15448.000000,18.000000,NaN,1.352982e+16,...,NaN,NaN,6.271306e+18,-1.874127e+18,5.0,0.0,0.0,777.0,NaN,NaN

In [9]:
df.columns

Index(['_', 'id', 'date', 'message', 'out', 'mentioned', 'media_unread',
       'silent', 'post', 'from_scheduled',
       ...
       'action.photo.video_sizes', 'replies._', 'replies.replies',
       'replies.replies_pts', 'replies.comments', 'replies.recent_repliers',
       'replies.channel_id', 'replies.max_id', 'replies.read_max_id',
       'action.title'],
      dtype='object', length=126)

In [10]:
df.head()

,_,id,date,message,out,mentioned,media_unread,silent,post,from_scheduled,...,action.photo.video_sizes,replies._,replies.replies,replies.replies_pts,replies.comments,replies.recent_repliers,replies.channel_id,replies.max_id,replies.read_max_id,action.title
0,Message,8734,2023-08-07T04:38:27+00:00,کـــود\n0- K224\n\n زمين\n مزارشريف: سرک محکمه...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Message,8733,2023-08-07T04:38:24+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Message,8732,2023-08-05T09:30:12+00:00,کـــود\n0- K223\n\n زمين\n مزارشريف: کارته خرا...,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Message,8731,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Message,8730,2023-08-05T09:30:10+00:00,,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN